#  CONTENTS LIST
## 1. Importing libraries
## 2. Import dataframes
## 3. Dropping unnecessary columns
## 4. Merging the df_ords_prods_combined with the df_prods via product_id 
## 5. Confirming the results
## 6. Export dataframes

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# create path
path = r'C:\Users\Christian\Desktop\Mein Ordner\CF\Data Immersion\Achievement4\Instacart Basket Analysis'

## 3.

In [3]:
# Import df_ords_prods_combined
df_ords_prods_combined = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_combined.pkl'))

## 4.

In [4]:
df_ords_prods_combined.shape

(32434489, 11)

The shape is the same as exported

## 5.

In [5]:
# Import df_prods
df_prods =  pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [6]:
df_ords_prods_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [7]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

Both dataframes contains the column product_id. We can merge these dataframes using product_id.

## 6.

In [9]:
# Dropping unnecessary columns
df_prods_2 = df_prods.drop(columns = ['Unnamed: 0'])

In [10]:
df_ords_prods_combined_2 =df_ords_prods_combined.drop(columns = ['_merge'])

In [12]:
#Merging the df_ords_prods_combined with the df_prods via product_id 
df_ords_prods_merged = df_ords_prods_combined_2.merge(df_prods_2, on = 'product_id', indicator=True)

In [13]:
# Confirming the results
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [16]:
# checking count of merged values
df_ords_prods_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [18]:
# ckecking shape
df_ords_prods_merged.shape

(32404859, 15)

## 7.

In [19]:
#Export merged dataframe in pickle format
df_ords_prods_merged.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_merged.pkl'))